{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="main">
        <div class="company-data">
            <div class="company-data-left">
                <h2 class="text-24">{% trans 'Information about the company' %}</h2>
                <p class="text-24">{{ company_profile.name }}</p>
                <p class="text-24">{{ company_profile.phone_number }}</p>
                <p class="text-24">{{ company_profile.nip }}</p>
                <p class="text-24">{{ company_profile.address.street }} {{ company_profile.address.building }}, {{ company_profile.address.city }}</p>
                {% if company_profile.profile == request.user.profile %}
                    <div class="link-holder"><a class="text-24 link" href="{% url 'edit_company_profile' company_profile.id %}">{% trans 'Edit company profile' %}</a></div>
                {% endif %}
            </div>
            <div class="company-data-right">

            </div>
        </div>
        <p class="text-18">{{ company_profile.description }}</p>
        <h2 class="text-24">{% trans 'Company restaurants:' %}</h2>
        <div class="restaurants-box" id="restaurants-box">

        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
const updateContent = function (items_on_page, append) {
    $.ajax({
        data: {
            "items_on_page": items_on_page,
            "company_id": {{ company_profile.id }}
        },
        url: "{% url 'update_homepage_content' %}",
        success: function (response) {
            if (append){
                $("#restaurants-box").append(response.content);
            } else {
                $("#restaurants-box").html(response.content);
            }
        },
        error: function (response) {
            console.log(response.responseJSON.errors);
        }
    })
}
$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() >= $(document).height() - 20) {
       updateContent($("#restaurants-box").children().length, true);
   }
});
updateContent(0, false);
</script>

{% endblock content %}
