{% load static %}
{% load i18n %}
<div class="filters">
    <form action="" method="get">
        <label>
            <select class="select-input-field text-18" name="cuisine">
                <option class="dropdown-option" value="">---</option>
                {% for cuisine in cuisines %}
                    <option class="dropdown-option" value="{{ cuisine.id }}"
                            {% if cuisine.cuisine == filters.cuisine %}selected{% endif %}
                    >{{ cuisine.cuisine }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <input class="text-18" type="submit" value="{% trans 'Apply filters' %}">
    </form>
</div>