{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}

    <div class="main">
        {% if content != '' %}
            <h2 class="text-24">{% trans "Search results on" %} {{ content }}:</h2>
        {% else %}
            <h2 class="text-24">{% trans "Popular" %}:</h2>
        {% endif %}
        <div class="feed-flexbox">
            <div class="filters-box">
                <h2 class="text-24">{% trans "Filters" %}</h2>
                {% include "otzovik_app/filters_component.html" %}
            </div>
            <div class="content-box">
                <div class="restaurants-box" id="restaurants-box">
                    {% include 'otzovik_app/restaurants_feed_component.html' %}
                </div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const updateContent = function (items_on_page, append) {
    $.ajax({
        data: {
            "search_for": $("#search-bar").val(),
            "cuisine": $("#filter-cuisine").val(),
            "items_on_page": items_on_page,
        },
        url: "{% url 'update_homepage_content' %}",
        success: function (response) {
            if (append){
                $("#restaurants-box").append(response.content)
            } else {
                $("#restaurants-box").html(response.content)
            }
        },
        error: function (response) {
            console.log(response.responseJSON.errors);
        }
    })
}
$("#search-bar").keyup(function () {
    updateContent(0, false);
});
$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() >= $(document).height() - 20) {
       updateContent($("#restaurants-box").children().length, true)
   }
});
$("#filter-cuisine").on("change", function () {
    updateContent(0, false);
});
</script>

{% endblock content %}