{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="main">
        <form action="" method="post">
            {% csrf_token %}
            <label>
                <input class="input-field text-24" type="text" required name="login" placeholder="{% trans 'Login-in-form' %}"/>
            </label>
            <br>
            <label>
                <input class="input-field text-24" type="password" required name="password" placeholder="{% trans 'password' %}"/>
            </label>
            <br>
            <button class="submit text-24">{% trans "Submit" %}</button>
        </form>
        <div class="link-holder">
            <a class="text-24 link" href="{% url 'registration' %}">{% trans "Register" %}</a>
        </div>
    </div>
{% endblock content %}