{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <script src="{% static 'js/new_restaurant.js' %}"></script>
    <div class="main">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{% trans "General info" %}:</h2>
            <label>
                <input class="input-field text-18" type="text" required name="name" value="{{ restaurant.name }}" placeholder="{% trans 'Restaurant name' %}"/>
            </label>
            <br>
            <label class="restaurant-description-label">
                <textarea class="restaurant-description text-18" rows="50" required name="description" placeholder="{% trans 'Description' %}">{{ restaurant.description }}</textarea>
            </label>
            <label class="restaurant-description-label">
                <textarea class="restaurant-description text-18" rows="50" maxlength="625" required name="short_description" placeholder="{% trans 'Short description(max 625 symbols)' %}"></textarea>
            </label>
            <br>
            <h2>{% trans "Address" %}:</h2>
            <label>
                <input class="input-field text-18" type="text" required name="city" value="{{ restaurant.address.city }}" placeholder="{% trans 'City' %}"/>
            </label>
            <br>
            <label>
                <input class="input-field text-18" type="text" required name="street" value="{{ restaurant.address.street }}" placeholder="{% trans 'Street' %}"/>
            </label>
            <br>
            <label>
                <input class="input-field text-18" type="text" required name="building" value="{{ restaurant.address.building }}" placeholder="{% trans 'Building No.' %}"/>
            </label>
            <h2>{% trans "Google maps coordinates" %}</h2>
            <label>
                <input class="input-field-small text-18" type="number" required name="lat" value="{{ restaurant.addressforgoogle.lat }}" placeholder="Lat"/>
            </label>
            <label>
                <input class="input-field-small text-18" type="number" required name="lng" value="{{ restaurant.addressforgoogle.lng }}" placeholder="Lng"/>
            </label>
            <h2>{% trans "Cuisines" %}:</h2>
            <label>
                <select class="select-input-field text-18" name="cuisines" id="cuisines-select" multiple>
                    {% for cuisine in cuisines %}
                        <option class="dropdown-option" value="{{ cuisine.id }}">{{ cuisine.cuisine }}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <span class="text-18 red" id="cuisines-status"></span>
        {% if type == "register" %}
            <h2>{% trans "Preview picture" %}:</h2>
            <label>
                <input class="image-input-field text-18" type="file" accept="image/*" required name="preview_image" alt=""/>
            </label>
            <br>
            <span>{% trans "(The preview picture will be resized to 640x360)" %}</span>
            <br>
            <h2 class="text-24">{% trans "Pictures" %}</h2>
            <label>
                <input class="image-input-field text-18" type="file" accept="image/*" multiple name="images" alt=""/>
            </label>
            <br>
        {% endif %}
            <br>
            <button class="submit text-18">{% trans "Submit" %}</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#cuisines-select").on("change", function () {
            $("#cuisines-status").text($("#cuisines-select").find(":selected").length > 3 ?
                '{% trans "You can only choose up to 3 cuisines" %}' : '')
        })
    </script>
{% endblock content %}