{% extends 'main.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/new_review.js' %}"></script>
    <div class="main">
        <h2 class="text-24">Новый отзыв на "{{ restaurant.name }}"</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="new-review-flex">
                <div class="new-review-left">
                    <h2 class="text-24 new-review-text">Еда</h2>
                    <h2 class="text-24 new-review-text">Персонал</h2>
                    <h2 class="text-24 new-review-text">Цена</h2>
                </div>
                <div class="new-review-right">
                    <div class="slidecontainer">
                        <label>
                            <input type="range" min="1" max="10" value="1" name="food_quality" class="new-review-slider" oninput="update_span(this.value, 'text-a')">
                        </label>
                        <span id="text-a" class="text-24 new-review-star-text">1</span><span class="text-24">★</span>
                    </div>
                    <div class="slidecontainer">
                        <label>
                            <input type="range" min="1" max="10" value="1" name="staff_quality" class="new-review-slider" oninput="update_span(this.value, 'text-b')">
                        </label>
                        <span id="text-b" class="text-24 new-review-star-text">1</span><span class="text-24">★</span>
                    </div>
                    <div class="slidecontainer">
                        <label>
                            <input type="range" min="1" max="10" value="1" name="price" class="new-review-slider" oninput="update_span(this.value, 'text-c')">
                        </label>
                        <span id="text-c" class="text-24 new-review-star-text">1</span><span class="text-24">★</span>
                    </div>
                </div>
            </div>
            <label>
                <textarea class="new-review-textarea text-18"  maxlength="1000" name="body" required></textarea>
            </label>
            <br>
            <button type="submit" class="submit text-18">Submit</button>
        </form>
    </div>
{% endblock content %}