{% load static %}
<div class="pages-box">
    <a href="{% url 'home' %}?search_for={{ search_for }}&page={{ min_page }}" class="text-24 link header-padding min_page"><<</a>
    <a href="{% url 'home' %}?search_for={{ search_for }}&page={{ prev_page }}" class="text-24 link header-padding prev_page"><</a>
    <a href="{% url 'home' %}?search_for={{ search_for }}&page={{ next_page }}" class="text-24 link header-padding next_page">></a>
    <a href="{% url 'home' %}?search_for={{ search_for }}&page={{ max_page }}" class="text-24 link header-padding max_page">>></a>
</div>