{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="main">
        <form action="" method="post">
            {% csrf_token %}
            {% if type == 'register' %}
                <label>
                    <input class="input-field text-24" type="text" required name="name" placeholder="{% trans 'Name' %}" value="{{ name }}"/>
                </label>
                <br>
                <label>
                    <input class="input-field text-24" type="text" required name="surname" placeholder="{% trans 'Surname' %}" value="{{ surname }}"/>
                </label>
                <br>
                <label>
                    <input class="input-field text-24" type="text" required name="email" placeholder="{% trans 'Email' %}" value="{{ email }}"/>
                </label>
                <br>
                <label>
                    <input class="input-field text-24" id="login-name" type="text" required name="username" placeholder="{% trans 'Login-in-form' %}" value="{{ username }}"/>
                </label>
                <br>
                <label class="text-20" for="home-city">Home city</label>
                <select class="input-field text-20" id="home-city" name="city">
                    {% for city in cities %}
                        <option value="{{ city.name }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <span class="text-18 red" id="username-status"></span>
                <br>
                <label>
                    <input class="input-field-small text-24" id="id_password" type="password" required name="password1" placeholder="{% trans 'Password' %}"/>

                    <input class="input-field-small text-24" id="id_password2" type="password" required name="password2" placeholder="{% trans 'Repeat password' %}"/>
                    <br>
                        <span class="text-18" id="password_status"></span>
                </label>
            {% else %}
                <label>
                    <input class="input-field text-24" value="{{ profile.name }}" type="text" required name="name" placeholder="{% trans 'Name' %}"/>
                </label>
                <br>
                <label>
                    <input class="input-field text-24" value="{{ profile.surname }}" type="text" required name="surname" placeholder="{% trans 'Surname' %}"/>
                </label>
                <br>
                <label>
                    <input class="input-field text-24" value="{{ profile.email }}" type="text" required name="email" placeholder="{% trans 'Email' %}"/>
                </label>
                <br>
                <label class="text-20" for="home-city">Home city</label>
                <select class="input-field text-20" id="home-city" name="city">
                    {% for city in cities %}
                        <option {% if city == request.user.profile.city %} selected {% endif %} >{{ city.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <br>
            <button class="submit text-24">{% trans "Submit" %}</button>
        </form>
        {% if type == 'register' %}
            <div class="link-holder">
                <a class="text-24 link" href="{% url 'login_page' %}">{% trans "Login" %}</a>
            </div>
        {% endif %}
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
      $(document).ready(function () {
          $('#login-name').keyup(function () {
              const login = $('#login-name');
              const usernameStatus = $('#username-status');
              if (login.val().length < 3) {
                  usernameStatus.removeAttr("hidden");
                  usernameStatus.text("This username is too short");
                  return ;
              }
              $.ajax({
                  data: $(this).serialize(),
                  url: "{% url 'validate_username' %}",
                  success: function (response) {
                      if (response.is_taken === true) {
                          login.after()
                          usernameStatus.text(response.resp_message);
                      } else {
                          usernameStatus.attr("hidden", "");
                      }
                  },
                  error: function (response) {
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      });
      $(document).ready(function () {
          $('#id_password').keyup(function () {
              $.ajax({
                  data: $(this).serialize(),
                  url: "{% url 'validate_password' %}",
                  success: function (response) {
                      if (response.is_valid === true) {
                          $('#password_status').removeClass("red").addClass("green").html(response.reason)
                      } else {
                          $('#password_status').addClass("red").removeClass("green").html(response.reason)
                      }
                  },
                  error: function (response) {
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
</script>
{% endblock content %}