{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="main">
        <h2 class="text-24">{{ restaurant.name }}</h2>
        {% for cuisine in restaurant.cuisines.all %}
            <h2 class="text-24">{{ cuisine }}</h2>
        {% endfor %}
        <div class="images">
        </div>
        <div class="description_gmaps">
            <div class="description-box">
                <p class="text-18">{{ restaurant.description }}</p>
            </div>
            <div class="gmaps-box">
                <div id="map"></div>
            </div>
        </div>
        <h2 class="text-24">{% trans "Reviews" %}:</h2>
        <div class="reviews">
            {% include 'otzovik_app/reviews_pages_bar.html' %}
            {% include 'otzovik_app/reviews_component.html' %}
        </div>
        <a class="text-18 link" href="{% url 'new_review' restaurant.id %}">{% trans "Leave a review" %}</a>
    </div>
<script src="https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=a62b7eaf-045f-4ef3-b601-2451d86fd895"></script>
<script>
    import ymaps from 'ymaps';

    ymaps.load().then(maps => {
        let map = new maps.Map('map-test', {
            center: [1, 1],
            zoom: 7
        });
    })
</script>
<script>
    let min_page = {{ min_page }};
    let prev_page = {{ prev_page }};
    let next_page = {{ next_page }};
    let max_page = {{ max_page }};
    if (isNaN(min_page)) {Array.prototype.filter.call(document.getElementsByClassName("min_page"),
        element => element.hidden = true
    )}
    if (isNaN(prev_page)) {Array.prototype.filter.call(document.getElementsByClassName("prev_page"),
        element => element.hidden = true
    )}
    if (isNaN(next_page)) {Array.prototype.filter.call(document.getElementsByClassName("next_page"),
        element => element.hidden = true
    )}
    if (isNaN(max_page)) {Array.prototype.filter.call(document.getElementsByClassName("max_page"),
        element => element.hidden = true
    )}
</script>
{% endblock content %}