{% load static %}
{% for restaurant in restaurants %}
    <a href="{% url 'restaurant_main' restaurant.id %}">
        <div class="restaurant" style="background-image:url('{{ restaurant.previewimage.preview_image.url }}')">
            <div class="restaurant-text-box">
                <div class="restaurant-text-box-left">
                    <h2 class="text-24 white">{{ restaurant.name }}</h2>
                    <p class="text-24 white">{{ restaurant.reviewsummary.rating }}★</p>
                    <p class="text-24 white">🍲{{ restaurant.reviewsummary.food_quality }} | 👨{{ restaurant.reviewsummary.staff_quality }} | 💲{{ restaurant.reviewsummary.price }}</p>
                    <div class="cuisines">
                        {% for cuisine in restaurant.cuisines.all %}
                            <span class="text-18 white">{{ cuisine.cuisine }}</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="restaurant-text-box-right">
                    <div class="restaurant-text-box-up"><span class="text-18 white">{{ restaurant.short_description }}</span></div>
                    <div class="restaurant-text-box-down">
                        <img class="gps-img" src="{% static 'images/gps_icon.png' %}" alt="">
                        <span class="text-18 white text-box-address">{{ restaurant.address.street }} {{ restaurant.address.building }}, {{ restaurant.address.city }}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}