{% load static %}
{% for review in reviews %}
    <div class="review">
        <h2 class="text-24">@{{ review.profile.user.username }}</h2>
        <p class="text-24">🍲{{ review.food_quality }} | 👨{{ review.staff_quality }} | 💲{{ review.price }}</p>
        <p class="text-18">{{ review.body }}</p>
        {% if review.profile.user == request.user %}
            <a class="text-18 link" href="{% url 'delete_review' review.id %}?redirect={% url 'restaurant_main' review.restaurant.id %}">Удалить отзыв</a>
        {% endif %}
        <hr>
    </div>
{% endfor %}