{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <script src="{% static 'js/user_profile.js' %}"></script>
    <div class="main">
        <div>
            <h2 class="text-24">@{{ profile.user.username }}</h2>
            <h3 class="text-24">{{ profile.name }} {{ profile.surname }}</h3>
            <h3 class="text-24">{{ profile.email }}</h3>
            {% if profile.user == request.user %}
                <a href="{% url 'edit_profile' profile.id %}" class="text-18 link">{% trans "Edit profile data" %}</a>
                <br>
                <input class="submit text-18" type="button" value="{% trans 'Add/Edit UNP' %}" onclick="showHide(document.getElementById('unp-form'))">
                <form hidden action="" method="post" id="unp-form">
                    {% csrf_token %}
                    <label>
                        <input class="input-field-small text-18" type="text" placeholder="{% trans 'UNP' %}" required name="unp" value="{{ profile.unp }}">
                    </label>
                    <button type="submit" class="text-18 submit">{% trans "Submit" %}</button>
                </form>
            {% endif %}
            {% if profile.unp != "" %}
                <br>
                <a class="text-18 link" href="{% url 'new_restaurant' %}">{% trans "Add restaurant" %}</a>
            {% endif %}
        </div>
        <h2 class="text-24">{% trans "Restaurants" %}:</h2>
        <div class="restaurants-box" id="restaurants-box">

        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
const updateContent = function (items_on_page, append) {
    $.ajax({
        data: {
            "items_on_page": items_on_page,
            "profile": {{ profile.id }}
        },
        url: "{% url 'update_homepage_content' %}",
        success: function (response) {
            if (append){
                $("#restaurants-box").append(response.content)
            } else {
                $("#restaurants-box").html(response.content)
            }
        },
        error: function (response) {
            console.log(response.responseJSON.errors);
        }
    })
}
$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() >= $(document).height()) {
       updateContent($("#restaurants-box").children().length, true);
   }
});
$(document).ready(function () {
    updateContent(0, false);
})
</script>
{% endblock content %}